In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("healthcare-dataset-stroke-data.csv")
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [31]:
X=df.iloc[:,:-1]
Y=df.iloc[:,:4]

In [30]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [32]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [33]:
X=pd.concat([X,states],axis=1)

NameError: name 'states' is not defined

In [34]:
#import scikitlearn as sklearn
from sklearn.model_selection import train_test_split
X_train,Y_train,x_test,y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [35]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.post12.tar.gz (2.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  python setup.py egg_info did not run successfully.
  exit code: 1

  [15 lines of output]
  The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
  rather than 'sklearn' for pip commands.

  Here is how to fix this error in the main use cases:
  - use 'pip install scikit-learn' rather than 'pip install sklearn'
  - replace 'sklearn' by 'scikit-learn' in your pip requirements files
    (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
  - if the 'sklearn' package is used by one of your dependencies,
    it would be great if you take some time to track which package uses
    'sklearn' instead of 'scikit-learn' and report it to their issue tracker
  - as a last resort, set the environment variable
    SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

  More information is available at
  https://github.com/scikit-learn/sklearn-pypi-package
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

Encountered error while generating package metadata.

See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [44]:
from sklearn.linear_model import LinearRegression

In [ ]:
regressor=LinearRegression()

In [ ]:
regressor.fit(X_train,Y_train)

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("healthcare-dataset-stroke-data.csv")
df.head()

## Logistic Regression

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [ ]:
df=pd.read_csv("healthcare-dataset-stroke-data.csv")
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df.columns

In [ ]:
from sklearn import preprocessing  
label = preprocessing.LabelEncoder()

In [ ]:
df['work_type']= label.fit_transform(df['work_type']) 
print(df['work_type'])
#2-private,3-self employed,0-govt job , 1-children

In [ ]:
df.head(40)

In [ ]:
df['Residence_type']= label.fit_transform(df['Residence_type']) 
print(df['Residence_type'])

In [ ]:
import seaborn as sns
sns.FacetGrid(df,hue='stroke',size=5).map(plt.scatter,'heart_disease','Residence_type').add_legend()

In [ ]:
df['gender']= label.fit_transform(df['gender']) 
print(df['gender'])

In [ ]:
#"age","Residence_type","hypertension","gender"],
#sns.pairplot(df,hue='stroke',size=3)
sns.pairplot(
    df,
    x_vars=["Residence_type"],
    y_vars=["stroke"],
)

In [ ]:
import seaborn as sns
sns.FacetGrid(df,hue='stroke',size=5).map(plt.scatter,'gender','Residence_type').add_legend()

In [ ]:
import seaborn as sns
sns.FacetGrid(df,hue='stroke',size=5).map(plt.scatter,'age','heart_disease').add_legend()

In [6]:
X=df[['age','work_type','hypertension','heart_disease','avg_glucose_level']]

In [7]:
y = df.iloc[:, 11].values
y

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33)

NameError: name 'train_test_split' is not defined

In [9]:
log_reg=LogisticRegression()
#y_train=y_train.reshape(-1,1)
log_reg.fit(X_train,y_train)

NameError: name 'LogisticRegression' is not defined

In [10]:
predict=log_reg.predict(X_test)

NameError: name 'log_reg' is not defined

In [11]:
pd.DataFrame(confusion_matrix(y_test,predict),columns=['Predicted Yes','Predicted No'],index=['Actual Yes','Actual No'])

NameError: name 'confusion_matrix' is not defined

In [12]:
from sklearn.metrics import classification_report

In [13]:
print(classification_report(y_test,predict))

NameError: name 'y_test' is not defined

In [ ]:
from sklearn.metrics import accuracy_score
#predict = nv.predict(X_test) # store the prediction data
accuracy_score(y_test,predict) # calculate the accuracy

## Naive Bayes

In [ ]:
import seaborn as sns
sns.FacetGrid(df,hue='stroke',size=5).map(plt.scatter,'age','hypertension').add_legend()

In [ ]:
sns.FacetGrid(df,hue='stroke',size=5).map(plt.scatter,'work_type','hypertension').add_legend()

In [ ]:
from sklearn.naive_bayes import MultinomialNB
multinomialnb = MultinomialNB()
multinomialnb.fit(X_train,y_train)

In [ ]:
y_pred = multinomialnb.predict(X_test)

In [ ]:
pd.DataFrame(confusion_matrix(y_test,y_pred),columns=['Predicted Yes','Predicted No'],index=['Actual Yes','Actual No'])

In [ ]:
print(classification_report(y_test,y_pred))

In [ ]:
from sklearn.metrics import accuracy_score
#predict = nv.predict(X_test) # store the prediction data
accuracy_score(y_test,y_pred) # calculate the accuracy

## SVM

In [ ]:
from sklearn.svm import SVC
classifier=SVC(kernel='rbf')
classifier.fit(X_train,y_train)
pred=classifier.predict(X_test)

In [14]:
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score
#print("Accuracy Score:",metrics.accuracy_score(y_test,pred))
#print("1. Accuracy Score:", metrics.accuracy_score(y_test, y_pred))
 
#print("2. Precision Score:",metrics.precision_score(y_test, y_pred))
 
#print("3. Recall Score:", metrics.recall_score(y_test, y_pred))
 
#print("4. f1 Score:", metrics.f1_score(y_test, y_pred)) 
print(classification_report(y_test,y_pred))
accuracy_score(y_test,y_pred)

NameError: name 'y_test' is not defined

In [15]:
from sklearn.svm import LinearSVC
linearsvc = LinearSVC()
linearsvc.fit(X_train,y_train)
y_pred = linearsvc.predict(X_test)
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score

print(classification_report(y_test,y_pred))
accuracy_score(y_test,y_pred)

NameError: name 'X_train' is not defined

## Decision classifier

In [16]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

In [17]:
X=df[['age','work_type','hypertension','heart_disease','avg_glucose_level']]
X

       age      work_type  hypertension  heart_disease  avg_glucose_level
0     67.0        Private             0              1             228.69
1     61.0  Self-employed             0              0             202.21
2     80.0        Private             0              1             105.92
3     49.0        Private             0              0             171.23
4     79.0  Self-employed             1              0             174.12
...    ...            ...           ...            ...                ...
5105  80.0        Private             1              0              83.75
5106  81.0  Self-employed             0              0             125.20
5107  35.0  Self-employed             0              0              82.99
5108  51.0        Private             0              0             166.29
5109  44.0       Govt_job             0              0              85.28

[5110 rows x 5 columns]

In [18]:
df=pd.read_csv("healthcare-dataset-stroke-data.csv")
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [19]:
df=pd.read_csv("healthcare-dataset-stroke-data.csv")
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [20]:
# importing required libraries
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
 
# Creating Decision Tree classifer object
clf = DecisionTreeClassifier()
 
# Training Decision Tree Classifer
clf = clf.fit(X_train, y_train)
 
#Predicting for the test data
y_pred = clf.predict(X_test)
y_pred

NameError: name 'X_train' is not defined

In [21]:
print("confusion matrix:\n")
print(metrics.confusion_matrix(y_test, y_pred))

confusion matrix:

NameError: name 'y_test' is not defined

In [22]:
print("1. Accuracy Score:", metrics.accuracy_score(y_test, y_pred))
 
print("2. Precision Score:",metrics.precision_score(y_test, y_pred))
 
print("3. Recall Score:", metrics.recall_score(y_test, y_pred))
 
print("4. f1 Score:", metrics.f1_score(y_test, y_pred))

NameError: name 'y_test' is not defined